.themed-container {
    padding: 0.75rem;
    background-color: #92C9E4;
    border: 1px solid rgba(0, 123, 255, .2);
    position: relative;
    left: -10%;
    width: 50%;
    margin-bottom: 20px;
}
.dark >  .title{
	font-size: 50px;
	color: #5D6D7E !important;

}

.tooltiptext{
    width: 40px;
    height: 40px;
    background-color: blue;
}
div .high:hover .tooltiptext {
  visibility: visible;
}
.btn-secondary{
    background-color: #0d6efd !important;
    color: white !important;
    margin: 20px;
}


.dark > .btn-secondary {
    color: white !important;
    margin: 20px;
}

.left{
    position: absolute;
    left: 80%;
}

.myFlex{
flex-direction: column;
padding: 10px;
margin-bottom: 0px;
}
label{
	font-size: 15px;
}

    .half{
        width:50% !important;
    }
	
  
    .fixed-filters{
    display: flex;
    padding-left: 0% !important;
    flex-direction: column-reverse;
    z-index:100;
    width: 100% !important;

    }
	
	.title{
		font-size: 25px;
		top: -5px;
        flex: 1 1 0;
	}
    .half{
        width:50% !important;
    }
    .themed-container{
        width: 80% !important;
    }
    #colors> .btn-primary{
        width: 100% !important;
    }

	.active-filters{
    top: 8%;
    color: white;
   
    }
	

    .themed-container{
        width: 90% !important;
    }
    .half{
        font-size: 10px;
    }
    .full{
        font-size: 10px;
    }

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

div .high:after{
    content: '';
    background: url(./images/arrow_up.svg);
    background-size: cover;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    margin-left: 120px !important;
    margin-top: -30px !important;
}


div .low:after{
    content: '';
    background: url(./images/arrow_down.svg);
    background-size: cover;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    margin-left: 120px !important;
    margin-top: -30px !important;
}


div .unknown:after{
    content: '';
    background: url(./images/question_mark.svg);
    background-size: cover;
    position: absolute;
    width: 80px !important;
    height: 80px !important;
    margin-left: 60px !important;
    margin-top: -35px !important;
}

div .average:after{
    content: '';
    background: url(./images/average.svg);
    background-size: cover;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    margin-left: 120px !important;
    margin-top: -30px !important;
}


#areamin{
    width: 70px;
}


#areamax{
    width: 70px;
}

#pricemin{
    width: 110px;
}

#pricemax{
    width: 110px;
}

.collapse .show{
    position: absolute;
    right: 0%;
    width: 50%;
}

.text-center{
    left: 0 !important;
    text-align: center;
}

body{
    background-color: #E8EAEC !important;
}

.count-filtered{
    color: white;
    font-size: 23px;
    color: black;
}
.main-header{
    /* display: block; */
    width: 100%;
    padding-bottom: 40px;
    padding-top: 5px;
}



	  .active-filters{
    padding-left: 10px;
    padding-right: 10px;
        color: black;
    }
#order option{
    font-size: 12px;
}
    .half label{
        position: relative;
        vertical-align: middle;
    }

input[type=checkbox] {
    vertical-align: middle;
}



.list-group-flush>.list-group-item {
        text-align: center;
}

.full{
    padding-bottom: 6px;
    width: 90%;
}


body.dark{
    background-color: #28282B !important;
}
.dark > .main-header{
    color: #dedede !important;
}
.dark > .count-filtered{
    color: #dedede !important;
}
.dark > .active-filters{
    color: #dedede !important;
}

.dark > .fixed-filters{
    color: #dedede !important;
    background-color: #414a4c !important;
}


.dark > .fixed-filters{
    color: #dedede !important;
    background-color: #414a4c !important;
}

.dark  .list-group-flush{
    color: #dedede !important;
    background-color: #414a4c !important;
}

.dark .d-flex{
        color: #dedede !important;
            background-color: #28282B !important;
}

.dark .d-flex .header{
        color: #dedede !important;
    background-color: #28282B !important;
}

.dark > form{
   color: #dedede !important;
    background-color: #414a4c !important;
}



.dark #collapseFilters .list-group-item{
    background-color: #28282B !important;
}
.dark #collapseFilters {
    background-color: #28282B !important;
}


.dark .list-group-item{
    color: #dedede !important;
}

.dark .btn-primary{
    color: #dedede !important;
    background-color: #6c757d;
    border-color: #6c757d;
}

.dark .footer{
    background-color: #414146!important;
    color: #dedede !important;
}
a {
    text-decoration: none !important;
    color:  #423b3b!important;
}
.dark a {
    text-decoration: none !important;
    color: #dedede!important;
}

.dark .themed-container{
    background-color: #141414;
    color: #dedede !important;
    border-color: #141414;
}

.dark .list-group-item{
    background-color: #6c757d;
    border-color: #6c757d;
}


.dark .btn border{
    border-color: #6c757d; 
}
.dark .btn-primary {
  box-shadow: 0 0 0 #6c757d;
}

.dark .card-body{
        color: #dedede !important;
    background-color: #414a4c;
}


.dark .active-filters{
    color: #dedede !important;
}


.dark .count-filtered{
        color: #dedede !important;
}


.color-button{
    width: 20px;
    background-color: blue;
}

#colors> .btn-primary{

}

.btn-primary{
    color: white !important;
}

.dark .text-dark{
    color: black !important;
}

.dark .error{
    color: #dedede !important;
}

.dark .copyright-bar{
    background-color: #808080 !important;
}

.dark .copyright-text{
    color: #dedede !important;
}

.dark .copyright-text a{
    color: #dedede !important;
}
/* desktop */
@media only screen and (min-width: 1281px) {

div.high{
    width:40px;
    display:inline-block;
    position: absolute;
    height:20px;
    color:white;
    text-decoration:none;
}


div.unknown{
    width:40px;
    display:inline-block;
    position: absolute;
    height:20px;
    color:white;
    text-decoration:none;
}

.inside{
    color: black;
    margin-left: 320px;
}

.dark .inside{
    color: white;
}
div.high:after{
    content: '';
    background:url('./images/arrow_up.svg');
    background-size:cover;
        position: absolute !important;
    width:80px !important;
    height:80px !important;
    margin-left: 300px !important;
    margin-top: 100px !important;
}

div.low{
    width: 40px !important;
    display: inline-block;
    position: absolute;
    height: 20px !important;
    color:white;
    text-decoration:none;
}
div.low:after{
    content: '';
    background:url('./images/arrow_down.svg');
    background-size:cover;
        position:absolute;
    width: 80px !important;
    height:80px !important;
    margin-left:300px !important;
    margin-top: 100px !important;
}

div.unknown{
    width: 40px !important;
    display: inline-block;
    position: absolute;
    height: 20px !important;
    color:white;
    text-decoration:none;
}
div.unknown:after{
    content: '';
    background:url('./images/question_mark.svg');
    background-size:cover;
        position:absolute;
    width: 160px !important;
    height:160px !important;
    margin-left:240px !important;
    margin-top: 100px !important;
}

div.average{
    width:40px;
    display:inline-block;
    position: absolute;
    height:20px;
    color:white;
    text-decoration:none;
}
div.average:after{
    content: '';
    background:url('./images/average.svg');
    background-size:cover;
        position: absolute !important;
    width:80px !important;
    height:80px !important;
    margin-left: 300px !important;
    margin-top: 100px !important;
}

    .myFlex{
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 50px;
    }
    #colors> .btn-primary {
        width: 20% !important;
    }
    .fixed-filters{
        width: 40% !important;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    }
    .themed-container {
    padding: 0.75rem;
    background-color: #92C9E4;
    border: 1px solid rgba(0, 123, 255, .2);
    position: relative;
    left: -10%;
    width: 50%;
    margin-bottom: 20px;
}

.half{
    width:33.333% !important;
    padding-bottom: 6px;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.black{
  background-color: #414a4c !important;
}

/* tablet */

@media only screen and (min-width: 768px) and (max-width: 1281px) { 
div .high:after{

content: '';
    background: url(./images/arrow_up.svg);
    background-size: cover;
    position: absolute;
    width: 80px !important;
    height: 80px !important;
    margin-left: 200px !important;
    margin-top: 0px !important;
}


div .low:after{
    content: '';
    background: url(./images/arrow_down.svg);
    background-size: cover;
    position: absolute;
    width: 80px !important;
    height: 80px !important;
    margin-left: 200px !important;
    margin-top: 0px !important;
}

div .unknown:after{
    content: '';
    background: url(./images/question_mark.svg);
    background-size: cover;
    position: absolute;
    width: 80px !important;
    height: 80px !important;
    margin-left: 200px !important;
    margin-top: 0px !important;
}

div .unknown:average{
    content: '';
    background: url(./images/question_mark.svg);
    background-size: cover;
    position: absolute;
    width: 80px !important;
    height: 80px !important;
    margin-left: 200px !important;
    margin-top: 0px !important;
}

.inside{
    margin-left: 220px;
}

}